{% extends 'announcements_page.html' %}

{% block title %}Announcement detail{% endblock %}

{% block announcement %}
<div class="card-header bg-success text-white">
    <h5 class="mb-0">
        <i class="fas fa-calendar-alt me-2"></i>
        Add a New Announcement
    </h5>
</div>
<div class="card-body flex-grow-1 overflow-auto p-2">
    <form method="post">
        {% csrf_token %}
        
        <div class="mb-3">
            <label class="form-label">Title</label>
            {{ form.title }}
        </div>
        
        <div class="mb-3">
            <label class="form-label">Text</label>
            {{ form.text }}
        </div>
        
        <div class="mb-3">
            <label class="form-label">Groups</label>
            <select name="groups" class="group-select" multiple>
                {% for gp in form.groups.field.queryset %}
                    <option value="{{ gp.pk }}"
                        {% if form.instance.pk and gp in form.instance.groups.all %}selected{% endif %}>
                        {{ gp.group.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        
        <div class="mb-3">
            <label class="form-label">Users</label>
            <select class="users-select" name="users" multiple>
                {% for user in form.users %}
                    <option value="{{ user.data.value }}">{{ user.data.label }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="mb-3">
            <label class="form-label">Expiration Date</label>
            {{ form.exp_date }}
        </div>
        
        <button type="submit" class="btn btn-primary btn-lg">Save</button>
    </form>
    
    <!-- Load media files for CKEditor -->
    {{ form.media }}
    
    <!-- Initialize SlimSelect -->
    <script>
        new SlimSelect({
            select: '.group-select'
        });
        new SlimSelect({
            select: '.users-select'
        });
    </script>
</div>
{% endblock %}